#main-content {
    display: flex;
    justify-content: center;
    /* vertical-align: middle; */
    flex-grow: 1;
    background-color: lightblue;
}

form {
    display: flex;
    border-color: white;
    align-items: center;
    width: 25%;
}

form fieldset {
    color: white;
    border-color: white;
    border-radius: 0.4em;
    width: 100%;
    background-color: lightsalmon;
}


form input {
    width: 100%;
    padding: 0.1em;
    margin-top: 1.2em;
    border-radius: 0.4em;
    border-style: none;
}

.p-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}