#main-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

form {
    display: flex;
    border-color: white;
    align-items: center;
    width: 25%;
}

form fieldset {
    color: #281501;
    border-color: #22b453;
    border-radius: 0.4em;
    width: 100%;
    background-color: #22b453;
}


form input {
    width: 100%;
    padding: 0.1em;
    margin-top: 1.2em;
    border-radius: 0.4em;
    border-style: none;
}

.input-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.input-wrap input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 10%;
    margin: 0;
}

.input-wrap label {
    width: 90%;
}

.submit {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 30%;
    padding: 0.2em 0;
}

.gender {
    margin-left: 0.3em;
    border-radius: 0.4em;
    padding: 0.05em;
}